* {
    box-sizing: border-box;
    margin: 0;
    font-family: Gugi;
}

body {
  background-color: #e45e43;

}

.form-container {
    width: 58%;
    background-color: 
#e6e4e5;
margin: 0 auto;
height: 485px;
margin-top: 120px;
box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.6);
}

.form-container img {
    width: 25%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -80px;
    
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: -50px;
}

input {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    height: 45px;
    border: none;
}

input[type="submit"] {
    background-color: #32a759;
    border-bottom: 5px solid #147233;
    color: white;
    height: 55px;
    margin-top: 25px;
}

input::placeholder, input[type="submit"] {
    text-align: center;
    font-size: 1.05rem;
    font-family: Arial;
}

.forgot-password { text-align: center;
     margin-top: 35px;
    font-weight: bold;
    font-size: 18px;
}

.forgot-password a {
    color: #cd483b;
    text-decoration: none;
    
   
}

.forgot-password:hover {
    animation: password 0.8s ease-in 1ms infinite; 
}

.login {
    text-align: center;
    color: white;
    margin-top: 40px;

}

.button-container {
    display: flex;
    justify-content:space-between;
    width: 45%;
    margin: 0 auto;
    height: 100px;
    margin-top: 40px;
}

#facebook {
    background-color: #3d5b99;
}

#twitter {
    background-color: #1bb7ea;
    
}

.buttons {
    height: 54px;
    border:  none;
    width: 246px;
    padding-inline: 0px;
    
}

button > p {
    color: white;
    font-size: 17px;
    text-align: right;
    
    
   
}

input[type="submit"]:hover {
    border: none;
}

img[alt="twitter-icon"] {
    width: 3.2%;
    position: absolute;
    right: 500px;
    bottom: -158px;
}

img[alt="facebook-icon"] {
    position: absolute;
    width: 3.6%;
    left: 395px;
    bottom: -166px;
}

@keyframes password {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.5,1.5);
    }

    100% {
        transform: scale(1,1);
    }

    
}